/*Importando as fontes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');

*{
    margin: 0;
}

.capa img{
    width: 100%;
    height: 200px;
    object-fit:cover;
}

main{
    background-image: url(../img/teatro.jpg);
    background-repeat: no-repeat;
    height:1000px;
    width:auto;
    position: absolute;
    z-index:1;
}
.header-2{
    padding:20px 0px;
}

.main{
    width: 800px;
    margin: auto;
}
body{
    background-image: url(../img/4.png);
    background-repeat: no-repeat;
    background-size: cover
}

h1{
    color:rgb(9, 32, 82);
    font-family: 'Lato', sans-serif;
    margin:3px 0;
    font-size: 40px;
}
h2{
    color:rgb(15, 18, 22);
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    
}

h3{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    margin:5px 0;
    

}
p{
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    text-align: justify;
    margin: 3px 0;
}

.video{
    display: flex;
    justify-content: center;
    
}
.video-tour {
    width: 100%;
    height: 500px;
    margin: 3px 0;
 }
.video-title{
    color: rgb(54, 51, 51);
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin:30px
 }

 #lista{
    list-style-type: none;
 }

.itens{
    display: inline;
    margin: 10px;
    float: right;
 }
 
 .curiosidade-itens{
    font-family: 'Lato', sans-serif;
    margin:20px;
    font-size:20px;
    list-style-type: square;
 }

 .it{
     margin-top: 5px;
     text-align: justify;

 }
 

.redes-sociais img{
    height: 30px;
}

footer {  
    margin-top: 50px;  
    margin-bottom:0px;
    background-color: #095aa7;
    width: 100%;
    height: 50px;

 
  
}
